{% extends 'menu.twig' %}
{% block content %}
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Upload a PDF and translate it</li>
      </ol>
Integrer le module de Hugo
{% endblock %}